

<footer class="container-fluid text-black bg-white mt-5 py-4">
  <hr class="my-4 w-50 mx-auto ">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h1 class="mb-4" style="font-size: 1.5rem;">Skontaktuj się z nami</h1>
      <p><i class="bi bi-telephone-fill"></i> Numer telefonu: +48 123 456 789</p>
      <p><i class="bi bi-envelope-fill"></i> <a href="mailto:kontakt@example.com">Adres e-mail: kontakt&#64;example.com</a></p>
      <p><i class="bi bi-geo-fill"></i> Adres: ul. Przykładowa 123, 00-000 Warszawa</p>
    </div>
  </div>
</footer>
