
.reservation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Transparentne tło z poziomem przezroczystości */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .reservation-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Cień dla efektu wypukłości */
    max-width: 80%;
    width: 400px; /* Szerokość formularza */
  }

  .alert-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 300px; /* Możesz dostosować szerokość według potrzeb */
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  

  
  